<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Burger Bonanza</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger_bonanza.js"></script>

</head>

<body>
    <main class="container">
        <div class="jumbotron">
            <h1>Burger Bonanza</h1>
            <img id="logo" src="/assets/img/burger.png">
        </div>
        {{{ body }}}
    </main>
</body>

</html>
