<h1>Burger Bonanza</h1>

<div class="waiting-area-div">
    <h4>Waiting To Be Devoured</h4>
    <ul>
        {{#each burgers}}
        <li>{{burger_name}}</li>
        {{/each}}
    </ul>
</div>

<form class="add-burger-form">
    <label for="burger-input">New burger you'd like to eat:</label>
    <input id="burger-input" type="text" />
    <button type="submit">Add Burger</button>
</form>
