h2 {
    font-size: 3rem;
    margin-bottom: 1%;
}

#burger-input {
    width: 50%;
}

button {
    width: 300px;
    border-radius: 0;
    border: none;
}

.waiting {
    background-color: #ffba08;
}

.jumbotron {
    min-width: 380px;
    display: block;
    margin: auto;
    text-align: center;
}

.devoured {
    background-color: #e63946;
    color: #ffffff;
}

.add-button {
    color: #ffba08;
    background-color: #e63946;
    width: auto;
}

#logo {
    width: 300px;
}

ul {
    list-style: none;
}

.columns {
    min-width: 300px;
    width: 100%;
    text-align: center;
}

@media (min-width: 700px) {
    .jumbotron {
        width: 500px;
    }
}
